h1{
    color: yellow;
    text-align: center;
}
body{
    background-color:darkblue ;
}
b{
    color: rgb(17, 240, 17);
}
h5{
    color: white;
    text-align: center;
}
.sas{
    color: white;
    border: solid yellow;
    width: 1000px
    
    
}
tr{
    color: white;
    text-align: center;
    width: 100Opx;
}
table{
    width: 1000px;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}
input{
    width: 10000px;
    border-radius: 5px;
}
button{
    text-align: center;
    color: black;
    border-radius: 10px; 
    background-color: yellow;
    width: 100px;
    height: 30px;
}

.form__submit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}